* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  background-color: #91d3fc;
  display: flex;
  align-items: center;
  gap: 0;
  position: relative;
  flex-direction: column;
}
.overlay {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  /* cursor: pointer; */
}
.title {
  display: block;
  width: 90%;
  font-size: 3vh;
  font-weight: 700;
  margin-top: 5vh;
}
.content {
  position: relative;
  background-color: #fff;
  width: 80vw;
  min-height: 60vh;
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.list-content {
  padding: 5vh 0vw;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 4.5vh 4.5vw;
}
